@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;  font-family: 'Inter', sans-serif;
  font-style: normal;
}
/* body {
 max-width: 1440px;
 height: 100vh;
 margin-inline: auto;
} */

img{
  width:100%
}